html {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(226, 222, 233);
    margin: 0;
}

header {
    background-image: url('./Assets/strava_header.avif');
    background-size: cover;
    background-position: 50% 75%;
    height: 30vh;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    header {
    background-image: url('./Assets/strava_header.avif');
    background-size: cover;
    background-position: 50% 100%;
    height: 20vh;
    width: 100%;
    overflow: hidden;
    }
}

img {
    height: 60vh;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    padding: 0 20px 0 20px;
}


.navbar-main {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    align-items: space-around;
    width: 100%;
    background-color:rgb(217, 249, 67, 1);
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    padding: 0px 20px 0 20px;
    color: rgb(46,56,65);
}

.nav-bar:hover {
    color: rgb(177,186,236);
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 0px 20px 0 20px;
    font-weight: bold;
    cursor: pointer;
}

.main-page {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 30px 20px 60px 20px;
}
.profile-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 20px;
    color: rgb(46,56,65);
}

#profile-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#profile-img img {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(217, 249, 67, 1);
    border-radius: 100px;
}

#profile-name {
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    /* color: rgb(46,56,65); */
    color: rgb(110,130,122);
}

#about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding: 5px;
    font-size: 12px;
}

.page-content {
    padding-top: 80px;
    width: auto;
}

.heatmap-header {
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(110,130,122);
    width: 50%;
}

#hm-title {
    color: rgb(110,130,122);
}

.heatmap-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

.ch-container {
    color: rgba(0, 0, 0, 0.493);
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#heatmap-legend {
    padding: 5px;
    display: flex;
    justify-content: center;
    color:rgba(0, 0, 0, 0.493);
}

.input-container {
    display: flex;
    justify-content: flex-start;

}

.stat-icons {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: rgb(46,56,65);
    font-size: 12px;
    padding-top: 50px;
}

/* //dropwdown CSS // */
.dropbtn {
    background-color: rgb(217, 249, 67, 1);
    color: rgb(46,56,65);
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border: 1px solid rgba(110, 130, 122, 0.77);
    cursor: pointer;
    width: auto;
    font-family: 'Roboto Mono', monospace;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(217, 249, 67, 0.5);
    border: 1px solid rgba(110, 130, 122, 0.77);
  }
  
  .rider-stats {
    position: relative;
    width: 100%;
    display: inline-block;
    /* justify-content: center; */
    padding-bottom: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(217, 249, 67, 1);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(46,56,65);
    padding: 12px 16px;
    text-decoration: none;
    display: block
  }
  
  .rider-stats a:hover {background-color: rgb(226, 222, 233);}
  .show {display: block;}
  

#stat-header {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    color: rgb(110,130,122);
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

.mtn-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

#mtn-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

#mtn-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    #mtn-img {
    height: 40%;
    width: 40%;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.493);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    }
}

#max-elev {
    /* font-weight: bold; */
}

.ruler-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

#ruler-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

.ruler-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding: 5px;
}

#ruler-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    #ruler-img {
    height: 40%;
    width: 40%;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.493);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    }
}

#max-distance {
    /* font-weight: bold; */
}

#speed-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

.speed-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding: 5px;
}

.speed-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

#speed-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    #speed-img {
    height: 40%;
    width: 40%;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.493);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    }
}

#max-rides {
    /* font-weight: bold; */
}

.activity-container {
    padding: 140px 40px 40px 40px;
}

#rides {
    text-overflow: ellipsis;
    border: 1px solid rgb(46,56,65, 0.25);
    width: auto;
}

thead {
    color: rgb(46,56,65, 0.5);
    background-color: rgb(217, 249, 67, 1);
    border: 1px solid rgb(46,56,65);
}

tbody {
    border: 1px solid black;
    background-color: rgb(217, 249, 67, 0.5);
    color: rgb(46,56,65);
} 