html {
    font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 300px) {
    body {
        margin: 0;
    }
}

body {
    background-color: rgb(226, 222, 233);
    margin: 0;
}

#header-img {
    background-image: url('./assets/stravaapi_image_mtn.jpeg');
    background-size: cover;
    background-position: 50% 55%;
    height: 35vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    #header-img {
        width: auto;
        height: 15vh;
    }
}

img {
    height: 60vh;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: rgb(110,130,122)
}

a:hover {
    color: rgb(177,186,236);
}

@media only screen and (max-width: 800px) {
    a {
        padding: 0 20px 0 10px;
    }
}

#navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color:rgb(217, 249, 67, 1);
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    text-decoration: none;
    width: auto;
    padding: 0px;
    color: rgb(46,56,65);
}

.nav-bar:hover {
    color: rgb(177,186,236);
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 0px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .nav-bar {
        width: auto;
        font-size: 10px;
        display: flex;
        justify-content: flex-start;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #loading {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: rgb(46,56,65);
  }

  #gif {
    width: 20px;
    height: 20px;
  }

.main-page {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 30px 20px 60px 20px;
}

@media only screen and (max-width: 800px) {
    .main-page  {
        display: flex;
        flex-direction: column;
    }
}
.profile-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 20px;
    color: rgb(46,56,65);
}

@media only screen and (max-width: 800px) {
    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px;
    }
}

#profile-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    #profile-img {
        display: flex;
        justify-content: center;
    }
}

#profile-img img {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

#profile-name {
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(110,130,122);
}

@media only screen and (max-width: 800px) {
    #profile-name {
        display: flex;
        justify-content: center;
    }
}

#about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    #about-me-container {
        display: flex;
        justify-content: center;
    }
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    font-size: 12px;
}

@media only screen and (max-width: 800px) {
    .about-me {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {
    #about-city {
        display: flex;
        justify-content: center;
    }
}

.page-content {
    padding-top: 40px;
    width: auto;
}
@media only screen and (max-width: 800px) {
    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        padding-top: 40px;
        margin: 0;
    }

}
.heatmap-header {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

#hm-title {
    color: rgb(110,130,122);
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    font-size: 25px;
}

#heatmap-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:rgb(226, 222, 233);
    box-shadow: 2px 2px 10px rgba(110, 130, 122, 0.48);
}

.ch-container {
    color: rgba(0, 0, 0, 0.493);
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.plot-d6a7b5-ramp {
    font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 800px) {
    #heatmap-container {
        width: 100%; 
        overflow-x: scroll;
        font-size: 12px;
    }
}

#heatmap-legend {
    padding: 5px;
    display: flex;
    justify-content: center;
    color:rgba(0, 0, 0, 0.493);
}

#stat-icons {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: rgb(46,56,65);
    font-size: 12px;
    padding-top: 50px;
}

.dropbtn {
    background-color: rgb(217, 249, 67, 1);
    color: rgb(46,56,65);
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border: 1px solid rgba(110, 130, 122, 0.77);
    cursor: pointer;
    width: auto;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 1px 1px 4px rgba(110, 130, 122, 0.77);
  }

  @media only screen and (max-width: 800px) {
    .rider-stats {
        display: inline-flexbox;
        justify-content: center;
    }
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(217, 249, 67, 0.5);
    border: 1px solid rgba(110, 130, 122, 0.77);
  }
  
  .rider-stats {
    position: relative;
    width: 100%;
    display: inline-flexbox;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(217, 249, 67, 1);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(46,56,65);
    padding: 12px 16px;
    text-decoration: none;
    display: block
  }
  
 .rider-stats a:hover {background-color: rgb(226, 222, 233);}
 .show {display: block;}
  
#stat-header {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    color: rgb(110,130,122);
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

.mtn-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
    border-width: auto;
}

#mtn-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

#mtn-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    #mtn-img {
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

.ruler-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

#ruler-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

.ruler-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding: 5px;
}

#ruler-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    #ruler-img {
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

#speed-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

.speed-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding: 5px;
}

.speed-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

#speed-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    #speed-img {
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

.activity-header {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

#act-title {
    color: rgb(110,130,122);
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    font-size: 25px;
}

#activity-container {
    padding: 60px 10px 60px 10px;
    background-color:rgb(226, 222, 233);
    box-shadow: 2px 2px 10px rgb(110,130,122, 0.48);
    margin-top: 60px;
}

#rides {
    border: 1px solid rgb(46,56,65, 0.25);
    width: auto;
}

@media only screen and (max-width: 800px) {
    #activity-container {
        width: auto; 
        overflow-x: scroll;
        font-size: 10px;
        margin-top: 40px;
    }
}

thead {
    color: rgb(46,56,65, 0.5);
    background-color: rgb(217, 249, 67, 1);
    border: 1px solid rgb(46,56,65);
}

tbody {
    border: 1px solid black;
    background-color: rgb(217, 249, 67, 0.5);
    color: rgb(46,56,65);
} 
