html {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(226, 222, 233);
    margin: 0;
}

header {
    background-image: url('./Assets/strava_header.avif');
    background-size: cover;
    background-position: 50% 75%;
    height: 30vh;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    header {
    background-image: url('./Assets/strava_header.avif');
    background-size: cover;
    background-position: 50% 100%;
    height: 20vh;
    width: 100%;
    overflow: hidden;
    }
}

img {
    height: 60vh;
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    padding: 0 20px 0 20px;
}

/* 
.table-container {
    display: inline;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: column;

}

table, th, td {
    border: 1px solid white;
} */

.navbar-main {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    align-items: space-around;
    width: 100%;
    background-color:rgb(217, 249, 67, 1);
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    padding: 0px 20px 0 20px;
    color: rgb(46,56,65);
}

.nav-bar:hover {
    color: rgb(177,186,236);
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 0px 20px 0 20px;
    font-weight: bold;
}

.main-page {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 30px 20px 60px 20px;
}
.profile-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding: 20px;
    color: rgb(46,56,65);
}

#profile-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#profile-img img {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(217, 249, 67, 1);
    border-radius: 100px;
}

#profile-name {
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    /* color: rgb(46,56,65); */
    color: rgb(110,130,122);
}

#about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding: 5px;
    font-size: 12px;
}

.page-content {
    padding-top: 20px;
    width: auto;
}

.heatmap-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ch-container {
    color: rgba(0, 0, 0, 0.493);
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#heatmap-legend {
    padding: 5px;
    display: flex;
    justify-content: center;
    color:rgba(0, 0, 0, 0.493);
}

.input-container {
    display: flex;
    justify-content: flex-start;

}

.stat-icons {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: rgb(177,186,236);
    font-size: .8em;
    padding: 15px 0 0 0;
    /* border: 1px solid rgba(110, 130, 122, 0.77); */
}

#stat-header {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    font-weight: bold;
    color: rgb(110,130,122);
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

.mtn-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

#mtn-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

#mtn-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    #mtn-img {
    height: 40%;
    width: 40%;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.493);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    }
}

#max-elev {
    font-weight: bold;
}

.ruler-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

#ruler-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

.ruler-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding: 5px;
}

#ruler-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    #ruler-img {
    height: 40%;
    width: 40%;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.493);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    }
}

#max-distance {
    font-weight: bold;
}

#speed-icon-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 20%;
}

.speed-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding: 5px;
}

.speed-stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(110, 130, 122, 0.77);
}

#speed-img {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    #speed-img {
    height: 40%;
    width: 40%;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.493);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    }
}

#max-rides {
    font-weight: bold;
}

.activity-container {
    padding: 140px 40px 40px 40px;
}

#rides {
    border: 1px solid rgba(110, 130, 122, 0.77);
}

thead {
    color: rgb(226, 222, 233);
    background-color: rgba(110, 130, 122, 0.77);
}

tbody {
    border: 1px solid black;
    background-color: rgb(217, 249, 67, 0.5);
    color: rgb(46,56,65);
}